<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }

        .container {
            text-align: center;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .message {
            margin: 10px 0;
            color: red;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Login to access admin portal</h1>
        <button id="loginButton">Login with Google</button>
        <div class="message" id="loginMessage"></div>

        <a target="_blank"
            href="https://web.telegram.org/k/#@MyWeather1023Bot">@MyWeather1023Bot</a>
    </div>

    <script>
        const apiBaseUrl = '<%= apiBaseUrl %>'; // Replace with your actual API base UR

        document.getElementById('loginButton').addEventListener('click', () => {
            window.location.href = `${apiBaseUrl}/auth/google`;
        });
    </script>
</body>

</html>